﻿@model App.BLL.DTO.Character
@{
    ViewData["Title"] = "Index";
    var character = Model!;
}
<div>
    <h1>YOUR CHARACTER: @character.Name</h1>
    <a asp-action="ChangeName">Change name</a>
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeName">
            <div class="form-group">
                <label class="control-label">New Name:</label>
                <input type="text" name="name" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>