﻿@model App.BLL.DTO.Character
@{
    ViewData["Title"] = "Index";
    var character = Model!;
}
<div>
    <a asp-controller="Game">Back</a>
    <h1>YOUR CHARACTER: @character.Name</h1>
    <a asp-action="ChangeName">Change name</a>
</div>

<div>
    Money: @character.Money denga 
    <br/>
    LVL: @character.Level <br/>
    EXP: @character.ExperiencePoints / @(character.Level*100) <br/>
    HP: @character.HealthPoints <br/>
    MP: @character.ManaPoints <br/>
    ATK: @character.AttackStat <br/>
    DEF: @character.DefenceStat <br/>
</div>

<div>
    Items:
    @if (Model?.InventoryItems != null)
    {
        <table border="2" class="rounded-3">
            <tr>
                <td>Name</td><td>Amount</td><td>Price per item</td>
            </tr>
            @foreach (var inventoryItem in Model.InventoryItems)
            {
                if(inventoryItem.Item != null)
                {
                    <tr>
                        <td>
                            @inventoryItem.Item?.Name
                        </td>
                        <td>
                            x@(inventoryItem.Amount)
                        </td>
                        <td>
                            @inventoryItem.Item!.Price
                        </td>
                    </tr>
                }
            }
        </table>
    }
</div>
<div>
    Skills:
    @if (Model?.SkillBook != null)
    {
        <table border="2">
            <tr>
                <td>Name</td><td>Mana cost</td><td>Cooldown</td>
            </tr>

            @foreach (var skillBook in Model.SkillBook)
            {
                if (skillBook.Skill != null)
                {
                    <tr>
                        <td>
                            @skillBook.Skill.Name
                        </td>
                        <td>
                            @skillBook.Skill.ManaCost
                        </td>
                        <td>
                            @skillBook.Skill.Cooldown
                        </td>
                    </tr>
                }
            }
        </table>
    }
</div>