﻿@{
    ViewData["Title"] = "Home Page";
}

<style>
.skull {
    background-image: url("images/Skull_Idle.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 200px;
    /*max-height: 200px;*/
    }
    
/* image hover effect */
.ihv {
    opacity: 0;
    transition-duration: 0.1s;
    }
    
.ihv:hover {
    opacity: 1;
    transition-duration: 0.1s;
    }

.r-1x1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    --bs-aspect-ratio: 100%;
}

table {
    font-size: 32px;
    margin: 0 auto;
    }
    
td {
    padding: 0.1rem;
    background-color: gray;
    min-width: 20px;
    }
    
td:hover {
    background-color: darkgray;
    min-width: 20px;
    }
    
</style>

<div class="text-center">
    <h1 class="display-4">@Base.Resources.Common.Welcome</h1>
</div>

<div class="container-fluid d-flex justify-content-center text-center">
    @if (!User.Identity?.IsAuthenticated ?? true)
        {
            <table class="text-center">
                <tr><td style="cursor: pointer" onclick="window.location.href = 'Identity/Account/Login'">Log In</td></tr>
                <tr><td style="cursor: pointer" onclick="window.location.href = 'Identity/Account/Register'">Registration</td></tr>
            </table>
        }
        else
        {
            <div class="p-0 m-1 skull">
                <img src="images/Skull_Ready.png" class="img-fluid ihv" style="cursor: pointer" onclick="window.location.href = 'User/Game'" alt="Play">
            </div>
        }
</div>