﻿@using App.BLL.DTO
@model App.BLL.DTO.Effect


<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <table>
        <tr>
            <td>
                Effect Name: @Model!.Name
            </td>
        </tr>
        <tr>
            <td>
                Description: @Model.Description
            </td>
        </tr>
        <tr>
            <td>
                Duration: @Model.Duration turns
            </td>
        </tr>
        @if (Model.HpModifier != 0)
        {
            <tr>
                <td>
                    • @Model.HpModifier HP Per turn
                </td>
            </tr>
        }
        @if (Model.MpModifier != 0)
        {
            <tr>
                <td>
                    • @Model.MpModifier MP per turn
                </td>
            </tr>
        }
        @if (Model.AtkModifier != 0)
        {
            <tr>
                <td>
                    • @Model.AtkModifier Attack points for the duration of the effect
                </td>
            </tr>
        }
        @if (Model.DefModifier != 0)
        {
            <tr>
                <td>
                    • @Model.DefModifier Defence points for the duration of the effect
                </td>
            </tr>
        }

    </table>
    
    <br/>
    
</div>
</body>
</html>