﻿@using Domain
@model App.BLL.DTO.Item

@{
    string category;

    switch (Model!.Category)
    {
        case EItemCategory.Consumable:
            category = "Consumable";
            break;
        case EItemCategory.SkillBook:
            category = "SkillBook";
            break;
        case EItemCategory.Artifact:
            category = "Artifact";
            break;
        case EItemCategory.Miscellaneous:
            category = "Miscellaneous";
            break;
        default:
            category = "???";
            break;
    }
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <table>
        <tr>
            <td>
                Effect Name: @Model!.Name
            </td>
        </tr>
        <tr>
            <td>
                Description: @Model.Description
            </td>
        </tr>
        <tr>
            <td>
                Category: @category
            </td>
        </tr>
        <tr>
            <td>
                Price: @Model.Price
            </td>
        </tr>
        @if (Model.Category == EItemCategory.Artifact || Model.Category == EItemCategory.Consumable)
        {
            <tr>
                Applies <a asp-action="EffectDescription" asp-route-id="@Model.EffectId">"@Model.Effect!.Name"</a> effect
            </tr>
            @if (Model.Effect!.HpModifier != 0)
            {
                <tr>
                    <td>
                        @Model.Effect.HpModifier HP Per turn
                    </td>
                </tr>
            }
            @if (Model.Effect.MpModifier != 0)
            {
                <tr>
                    <td>
                        @Model.Effect.MpModifier MP per turn
                    </td>
                </tr>
            }
            @if (Model.Effect.AtkModifier != 0)
            {
                <tr>
                    <td>
                        @Model.Effect.AtkModifier Attack points to character for the duration of the effect
                    </td>
                </tr>
            }
            @if (Model.Effect.DefModifier != 0)
            {
                <tr>
                    <td>
                        @Model.Effect.DefModifier Defence points to character for the duration of the effect
                    </td>
                </tr>
            }
        }
        else if (Model.Category == EItemCategory.SkillBook)
        {
            <tr>
                <td>
                    Teaches to use: <a asp-action="EffectDescription" asp-route-id="@Model.Skill!.EffectId">@Model.Skill!.Name</a>
                </td>
            </tr>
        }
    </table>
</div>
</body>
</html>