﻿@using App.BLL.DTO
@model App.BLL.DTO.Skill

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <table>
        <tr>
            <td>
                Effect Name: @Model!.Name
            </td>
        </tr>
        <tr>
            <td>
                Description: @Model.Description
            </td>
        </tr>
        <tr>
            <td>
                Cooldown: @Model.Cooldown turns
            </td>
        </tr>
        <tr>
            Applies <a asp-action="EffectDescription" asp-route-id="@Model.EffectId">"@Model.Effect!.Name"</a> effect
        </tr>
        @if (Model.Effect!.HpModifier != 0)
        {
            <tr>
                <td>
                    @Model.Effect.HpModifier HP Per turn
                </td>
            </tr>
        }
        @if (Model.Effect.MpModifier != 0)
        {
            <tr>
                <td>
                    @Model.Effect.MpModifier MP per turn
                </td>
            </tr>
        }
        @if (Model.Effect.AtkModifier != 0)
        {
            <tr>
                <td>
                    @Model.Effect.AtkModifier Attack points to character for the duration of the effect
                </td>
            </tr>
        }
        @if (Model.Effect.DefModifier != 0)
        {
            <tr>
                <td>
                    @Model.Effect.DefModifier Defence points to character for the duration of the effect
                </td>
            </tr>
        }
        
    </table>
</div>
</body>
</html>