﻿@using App.BLL.DTO
@using App.BLL.DTO.GroupStatus
@using Domain
@using Microsoft.IdentityModel.Tokens
@using InventoryItem = App.BLL.DTO.InventoryItem
@model App.BLL.DTO.GroupStatus.GroupStatus;

@{
    // Layout = null;
}

<div class="container">
<div class="row">
<div class="p-3 mb-2 col-12 bg-secondary text-white rounded">
    <div class="row">
        @if (Model!.Dungeon != null)
        {
            <div class="col">
                <div>
                    <h2>@Model.Dungeon.Name</h2></div>
                @if (Model.Dungeon.DungeonZones != null && Model.DungeonZoneNumber != -1)
                {
                    <div>Zone @(Model.DungeonZoneNumber)/@(Model.Dungeon.DungeonZones.Count)</div>
                }
            </div>
            <div class="col row align-items-center">
                @if (Model.DungeonZoneNumber == -1)
                {
                    <div class="col">
                        <form asp-action="EndOfAdventure">
                            <input type="submit" value="End dungeon" class="btn btn-primary btn-lg"/>
                        </form>
                    </div>
                }
                else
                {
                    <div class="col">
                        <form asp-action="NextCamp">
                            <input type="submit" value="Enter next zone" class="btn btn-primary btn-lg"/>
                        </form>
                    </div>
                    <div class="col">
                        <form asp-action="Retreat">
                            <input type="submit" value="Retreat (Lose progress!)" class="btn btn-danger btn-lg"/>
                        </form>
                    </div>
                }
            </div>
        }
    </div>
</div>
<div class="col p-0">
    <div class="col p-3 me-2 mb-2 bg-secondary bg-opacity-10 rounded" style="height:50%; overflow-y: scroll">
        Log:<br/>
        @if (!Model.GameHistory.IsNullOrEmpty())
        {
            <div class="col p-1 my-1 bg-secondary bg-opacity-25 rounded">
                <table>
                    @try
                    {
                        foreach (var row in Model.GameHistory.Split("\n"))
                        {

                            <tr>
                                <td>
                                    @row
                                </td>
                            </tr>

                        }
                    }
                    catch (Exception e)
                    {
                        // do nothing
                    }
                </table>
            </div>
        }
    </div>
    <div class="col p-3 me-2 mb-2 bg-secondary bg-opacity-10 rounded align-items-end">
        Party Status:<br/>
        @{
            List<BattleCharacter> battleCharacters = new List<BattleCharacter>();
            BattleCharacter? battleCharacter = null;
            if (Model!.BattleCharacters != null)
            {
                battleCharacter = Model!.BattleCharacters.FirstOrDefault(x => x.Id == Model.BattleCharacterLeaderId);
                battleCharacters = Model.BattleCharacters.ToList();
            }
        }
        <table class="table table-striped table-bordered align-middle border border-2 border-dark p-1 my-1 bg-secondary bg-opacity-25 rounded">
            @if (battleCharacter != null)
            {
                <tr>
                    <td>
                        @(battleCharacter.Name)(@battleCharacter.Level)
                    </td>
                    <td>
                        EXP:@(battleCharacter.Experience)/@(battleCharacter.Level * 100)
                    </td>
                    <td>
                        HP:@battleCharacter.CurrentHp/@battleCharacter.MaxHp | MP:@battleCharacter.CurrentMp/@battleCharacter.MaxMp <br/>
                        ATK:@battleCharacter.AtkStat | DEF:@battleCharacter.DefStat
                    </td>
                </tr>
            }
    
            @foreach (BattleCharacter perBattleCharacter in battleCharacters.Where(x => x.Id != Model.BattleCharacterLeaderId))
            {
                <tr>
                    <td>
                        @(perBattleCharacter.Name)(@perBattleCharacter.Level)
                    </td>
                    <td>
                        EXP:@perBattleCharacter.Experience/@(perBattleCharacter.Level * 100)
                    </td>
                    <td>
                        HP:@perBattleCharacter.CurrentHp/@perBattleCharacter.MaxHp | MP:@perBattleCharacter.CurrentMp/@perBattleCharacter.MaxMp <br/>
                        ATK:@perBattleCharacter.AtkStat | DEF:@perBattleCharacter.DefStat
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="col p-3 ms-1 mb-2 bg-secondary bg-opacity-10 rounded">

<div>
    Inventory:<br/>
    <table class="table table-striped table-bordered align-middle border border-2 border-dark p-1 my-1 bg-secondary bg-opacity-25 rounded">
        @if (Model.GroupLeader?.InventoryItems != null)
        {
            if (Model.GroupLeader.InventoryItems.Count != 0)
            {
                <tr>
                    <th>Name</th><th>Amount</th><th>Usage</th>
                </tr>
            }
            else
            {
                <tr>
                    <td>Empty...</td>
                </tr>
            }
            @foreach (InventoryItem item in Model.GroupLeader.InventoryItems)
            {
                if (item.Item != null)
                {
                    if (item.Item.Category != EItemCategory.Miscellaneous)
                    {
                        <tr>
                            <td>
                                <a
                                    class="nav-link text-dark"
                                    asp-area="User"
                                    asp-controller="Description"
                                    asp-action="ItemDescription"
                                    asp-route-id="@item.Item.Id">
                                    @(item.Item.Name)
                                </a>
                                @* TODO! link to item description *@
                            </td>
                            <td>
                                x @item.Amount
                            </td>

                            @if (item.Item.Category == EItemCategory.SkillBook)
                            {
                                if (Model.GroupLeader.SkillBook != null
                                    && Model.GroupLeader.SkillBook.Any(x => x.SkillId == item.Item.SkillId))
                                {
                                    <td>
                                        <input type="button" value="Already learned" class="btn btn-outline-secondary btn-sm disabled"/>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <form asp-action="UseItemInCamp">
                                            <input type="hidden" name="itemId" value="@item.ItemId"/>
                                            <input type="submit" value="Learn" class="btn btn-secondary btn-sm"/>
                                        </form>
                                    </td>
                                }
                            }
                            else if (item.Item.Category != EItemCategory.Artifact)
                            {
                                if (item.Used)
                                {
                                    <td>
                                        <input type="button" value="Already used" class="btn btn-outline-secondary btn-sm disabled"/>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <form asp-action="UseItemInCamp">
                                            <input type="hidden" name="itemId" value="@item.ItemId"/>
                                            <input type="submit" value="Consume" class="btn btn-secondary btn-sm"/>
                                        </form>
                                    </td>
                                }
                            }
                            else
                            {
                                <td>
                                    <input type="button" value="Artifact" class="btn btn-outline-secondary btn-sm disabled"/>
                                </td>
                            }
                        </tr>
                    }
                }
            }

        }
    </table>
</div>
@if (Model.GroupLeader?.SkillBook != null && Model.InRaidSkills != null)
{
    @if (Model.GroupLeader.SkillBook.Count != 0)
    {
        <div>
            Skills:<br/>
            <table class="table table-striped table-bordered align-middle border border-2 border-dark p-1 my-1 bg-secondary bg-opacity-25 rounded">

                <tr>
                    <th>Name</th><th>Mana Cost</th><th>Availability</th>
                </tr>
                @foreach (SkillBook skillBook in Model.GroupLeader.SkillBook)
                {
                    if (skillBook.Skill != null)
                    {
                        var skill = Model.InRaidSkills.FirstOrDefault(x => x.Skill != null && x.Skill.Id == skillBook.Skill.Id);
                        <tr>
                            <td>
                                <a
                                    class="nav-link text-dark"
                                    asp-area="User"
                                    asp-controller="Description"
                                    asp-action="SkillDescription"
                                    asp-route-id="@skillBook.Skill.Id">
                                    @skillBook.Skill.Name
                                </a>
                            </td>
                            <td>
                                @skillBook.Skill.ManaCost
                            </td>

                            @if (skill != null)
                            {
                                <td>
                                    <input type="button" value="Recharging...(@skill.CurrentCooldown)" class="btn btn-outline-secondary btn-sm disabled"/>
                                </td>

                            }
                            else if (Model.BattleCharacters != null &&
                                     skillBook.Skill.ManaCost > Model.BattleCharacters.First(x => x.Id == Model.BattleCharacterLeaderId).CurrentMp)
                            {
                                <td>
                                    <input type="button" value="Not enough mana!" class="btn btn-outline-secondary btn-sm disabled"/>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <form asp-action="UseSkillInCamp">
                                        <input type="hidden" name="skillBookId" value="@skillBook.SkillId"/>
                                        <input type="submit" value="Cast" class="btn btn-secondary btn-sm"/>
                                    </form>
                                </td>
                            }
                        </tr>

                    }
                }
            </table>
        </div>
    }
}


@if (Model.InRaidEffects != null)
{
    @if (Model.InRaidEffects.Count > 0)
    {
        <div>
            Effects:
            <table class="table table-striped table-bordered border border-2 border-dark p-1 my-1 bg-secondary bg-opacity-25 rounded">
                <tr>
                    <th>Name</th><th>Duration</th>
                </tr>
                @foreach (var effect in Model.InRaidEffects)
                {
                    if (effect.Effect != null)
                    {
                        <tr>
                            <td>
                                <a
                                    class="nav-link text-dark"
                                    asp-area="User"
                                    asp-controller="Description"
                                    asp-action="EffectDescription"
                                    asp-route-id="@effect.EffectId">
                                    @effect.Effect.Name
                                </a>
                            </td>
                            <td>
                                @effect.Duration
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    }
}

@if (Model.InRaidItems != null)
{
    @if (Model.InRaidItems.Count != 0)
    {
        <div>
            Found in raid items:<br/>
            <table class="table table-striped table-bordered border border-2 border-dark p-1 my-1 bg-secondary bg-opacity-25 rounded">
                <tr>
                    <th>Name</th><th>Amount</th>
                </tr>
                @foreach (InRaidItem drop in Model.InRaidItems)
                {
                    if (drop.Item != null)
                    {
                        <tr>
                            <td>
                                <a
                                    class="nav-link text-dark"
                                    asp-area="User"
                                    asp-controller="Description"
                                    asp-action="ItemDescription"
                                    asp-route-id="@drop.Item.Id">
                                    @drop.Item.Name
                                </a>
                            </td>
                            <td>
                                x @drop.Amount
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    }
}
</div>
</div>
</div>