﻿@using Base.Extensions
@using WebApp.Areas.User.Controllers
@model App.BLL.DTO.Character

@{
    ViewData["Title"] = "Create";
}

<h1>Create your character</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCharacter">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}