﻿@using App.BLL.DTO
@using Microsoft.IdentityModel.Tokens
@using JsonSerializer = System.Text.Json.JsonSerializer
@model App.BLL.DTO.GroupStatus.GroupStatus

@{
    Character leader = Model?.GroupLeader ?? throw new InvalidOperationException("LEADER IS NULL!");
    List<Guid> friendGuidList;
    
    if (!String.IsNullOrEmpty(Model.GameHistory))
    {
        friendGuidList = JsonSerializer.Deserialize<List<Guid>>(Model.GameHistory) ?? new List<Guid>();
    }
    else
    {
        friendGuidList = new List<Guid>();
    }

    int totalcost = 0;

    if (!friendGuidList.IsNullOrEmpty())
    {
        List<Friend> friends= Model.GroupLeader.FriendList!.Where(x => friendGuidList.Exists(y => y == x.FriendId)).ToList();
        foreach (var frend in friends)
        {
            if (frend.FriendCharacter != null)
            {
                totalcost += frend.FriendCharacter.Level * 10;
            }
        }
    }

    
}

@if (Model.Dungeon != null)
{
    <h2>Form Party</h2>
}
else
{
    throw new NullReferenceException("Dungeon doesn't exist!");
}

<div class="container">
    <div class="row">
        <div class="col-5 p-3 mb-2 bg-secondary bg-opacity-10 rounded">
            <div class="pt-2">
                <b>@Model.Dungeon.Name</b>
            </div>
            <div class="pt-1">
            Average level: @Model.Dungeon.AverageLevel
            </div>
            <div class="pt-1">
                Zones: @Model.Dungeon.DungeonZones?.Count
            </div>
            <div class="pt-3">
            @Model.Dungeon.Description
            </div>
        </div>
        <div class="col-7">
            <div class="p-3 mb-2 bg-secondary bg-opacity-10 rounded">
                <h5>
                    Party
                </h5>
                <table width="100%">
                    <tr>
                        <td width="60%">
                            @(leader.Name)(@leader.Level lvl)
                        </td>
                        <td align="right">
                            <form asp-action="StartAdventure">
                                <input type="hidden" name="id" value="@Model.DungeonId"/>
                                <input type="submit" value="Start Adventure!" class="btn btn-primary"/>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Money: @(leader.Money)d
                        </td>
                        <td align="right">
                            Cost to start: @(totalcost)d
                        </td>
                    </tr>

                    <tr>
                        <td>---Members(@(friendGuidList.Count + 1)/4)---------</td><td></td>
                    </tr>

                    @if (Model!.GameHistory != "")
                    {
                        @foreach (Friend partyMember in Model?.GroupLeader?.FriendList!)
                        {
                            if (friendGuidList.Exists(x => x == partyMember.FriendId))
                            {
                                <tr>
                                    <td>
                                        •@partyMember.FriendCharacter?.Name (@(partyMember.FriendCharacter?.Level) lvl) | @(partyMember.FriendCharacter?.Level * 10) denga
                                    </td>
                                    <td align="right">
                                        <form asp-action="RemoveFromParty">
                                            <input type="hidden" name="id" value="@partyMember.FriendId"/>
                                            <input type="submit" value="Remove From Party" class="btn btn-danger"/>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    }

                </table>
            </div>

            <div class="p-3 mb-2 bg-secondary bg-opacity-10 rounded-3">
                <h5>Friends</h5>
                <table width="100%">
                    @if (Model?.GroupLeader?.FriendList != null)
                    {
                        @foreach (Friend friend in Model?.GroupLeader?.FriendList!)
                        {
                            if (!friendGuidList.Exists(x => x == friend.FriendId))
                            {
                                <tr>
                                    <td width="60%">
                                        •@friend.FriendCharacter!.Name (@(friend.FriendCharacter.Level) lvl)
                                    </td>
                                    <td align="right">
                                        @if (Model.GroupLeader.Money >= totalcost + friend.FriendCharacter.Level * 10 && friendGuidList.Count < 3)
                                        {
                                            <form asp-action="InviteToParty">
                                                <input type="hidden" name="id" value="@friend.FriendId"/>
                                                <input type="submit" value="Hire for @(friend.FriendCharacter.Level * 10) denga" class="btn btn-secondary"/>
                                                @* Make unpressable if not enough money (grey) *@
                                            </form>
                                        }
                                        else
                                        {
                                            <input type="button" value="Hire for @(friend.FriendCharacter.Level * 10) denga" class="btn btn-outline-secondary disabled"/>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>