﻿@model IEnumerable<App.BLL.DTO.Dungeon>
@{
    ViewData["Title"] = "Index";
}

<h1>YOUR CHARACTER HERE <a asp-controller="MyCharacter">CLICK</a></h1>

<h2>CHOOSE Y'ORE DUNGEON</h2>
<div class="container">
    <div class="col-8 p-3 mb-2 bg-secondary bg-opacity-10 rounded">
        <table class="table table-striped align-middle id-dungeons">
            @foreach (var dungeon in Model!)
            {
                <tr>
                    <td>
                        @dungeon.Name
                    </td>
                    <td>
                        Average level: @dungeon.AverageLevel

                    </td>
                    <td>
                        Zones:
                        @if (dungeon.DungeonZones != null)
                        {
                            @dungeon.DungeonZones.Count.ToString()
                        }
                    </td>
                    <td>
                        <form asp-action="FormParty">
                            <input type="hidden" name="id" value="@dungeon.Id"/>
                            <input type="submit" value="Form Group" class="btn btn-primary"/>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>