﻿@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>() ?? throw new Exception();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.Name })
        .ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}
<div title="@requestCulture?.Provider?.GetType().Name">
    <form id="selectLanguage" 
          asp-area=""
          asp-controller="Culture"
          asp-action="SetCulture" 
          asp-route-returnUrl="@returnUrl"
          method="post" 
          class="form-horizontal nav-link text-dark"
          role="form">
        <select name="culture"
                onchange="this.form.submit();" 
                asp-for="@requestCulture!.RequestCulture.UICulture.Name" 
                asp-items="cultureItems">
        </select>
    </form>
</div>