﻿@using Base.Extensions
@model IEnumerable<App.BLL.DTO.Friend>

@{
    ViewData["Title"] = "Index";
}



<h1>Friends List</h1>

<p>Your friend id is: @User.GetUserId()</p>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div class="form-group">
                <label class="control-label"></label>
                <input type="text" name="friendId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            @if (ViewData["ErrorMessage"] != null)
                        {
                            <div class="text-danger">
                                @ViewData["ErrorMessage"]
                            </div>
                        }
        </form>
    </div>
</div>

<div>
    <h4>Your friends:</h4>
    <table>
        @if (Model == null)
        {
            <tr>
                <td>
                    You have no friends yet :(
                </td>
            </tr>
        }
        else
        {
            @foreach (var item in Model!)
            {
                <tr>
                    <td>
                        @(item.FriendCharacter?.Name) |
                        Level: @item.FriendCharacter?.Level
                    </td>
                </tr>
            }    
        }
    </table>
</div>