﻿@using App.BLL.DTO
@model App.BLL.DTO.Character

@{
    List<Item> buyList; 
    
    if (ViewData["BuyList"] != null)
    {
        buyList = (List<Item>) ViewData["BuyList"]!;
    }
    else
    {
        buyList = new List<Item>();
    }
    
}

<div class="container">
    <div class="row">
        <div class="p-3 mb-2 col-12 bg-secondary text-white rounded">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <div>
                                <h2>Shop</h2>
                            </div>
                            <div>
                                @if (ViewData["ErrorMessage"] != null)
                                {
                                    @ViewData["ErrorMessage"]
                                }
                            </div>
                        </div>
                        <div class="col">
                            <h3>Balance: @Model!.Money</h3>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="col p-3 me-1 mb-2 bg-secondary bg-opacity-10 rounded">
            <div>
                Items for sale:
                <table class="table table-striped table-bordered border-dark align-middle">
                    @if (buyList.Count > 0)
                    {
                        <tr>
                            <td>Name</td><td>Category</td><td>Price per unit</td><td></td>
                        </tr>
                        @foreach (var item in buyList)
                        {
                            <tr>
                                <td>
                                    <a class="p-0 nav-link text-dark text-decoration-underline"
                                       asp-area="User"
                                       asp-controller="Description"
                                       asp-action="ItemDescription"
                                       asp-route-id="@(item.Id)">
                                        @(item.Name)
                                    </a>
                                </td>
                                <td>
                                    @item.Category
                                </td>
                                <td>
                                    @(item.Price)d
                                </td>
                                <form asp-action="Index">
                                    <td>
                                        <input type="number" name="amount" min="0" size="4"/>
                                    
                                        <input type="hidden" name="itemId" value="@item.Id"/>
                                        <input type="hidden" name="sell" value="false"/>
                                        <input type="submit" value="Buy" class="btn btn-primary"/>
                                    </td>
                                </form>
                            </tr>

                        }
                    }
                    else
                    {
                        <tr>
                            <td>Nothing for sale yet...</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="col p-3 ms-1 mb-2 bg-secondary bg-opacity-10 rounded">
            <div>
                Inventory:
                <table class="table table-striped table-bordered border-dark align-middle">
                    @if (Model!.InventoryItems != null)
                    {
                        <tr>
                            <td>Name</td><td>Amount</td><td>Price per unit</td><td></td>
                        </tr>
                        @foreach (InventoryItem invItem in Model.InventoryItems)
                        {
                            if (invItem.Item != null)
                            {
                                <form asp-action="Index">
                                    <tr>
                                        <td>
                                            <a class="nav-link text-dark text-decoration-underline"
                                               asp-area="User"
                                               asp-controller="Description"
                                               asp-action="ItemDescription"
                                               asp-route-id="@(invItem.Item.Id)">
                                                @(invItem.Item.Name)
                                            </a>
                                        </td>
                                        <td>
                                            x@(invItem.Amount)
                                        </td>
                                        <td>
                                            @(invItem.Item.Price)d
                                        </td>
                                        <td>
                                            <input type="number" name="amount" min="0" max="@invItem.Amount" size="3"/>

                                            <input type="hidden" name="itemId" value="@invItem.ItemId"/>
                                            <input type="hidden" name="sell" value="true"/>
                                            <input type="submit" value="Sell" class="btn btn-primary"/>
                                        </td>
                                    </tr>
                                </form>
                            }
                        }
                    }
                    else
                    {
                        <tr>
                            <td>Empty...</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>